<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- 通过这个配置文件完成mybatis与数据库的连接 -->
<configuration>		

	<!-- 设置resultMap的自动映射级别为NONE（禁止自动匹配）PARTIAL-->
	<settings >
			<setting name="autoMappingBehavior" value="PARTIAL"/>
			<setting name="cacheEnabled" value="true" />
	</settings>

</configuration>
